*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}
.header-top{
    background-color: #e1e1e1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0px;
    z-index: 9999;
}
.container{
    width: 80%;
    margin: 0 auto;
}

.header-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items .menubar ul li{
    float: left;
    padding:  0 15px;
}
.header-items .menubar ul li a{
    font-weight: 700px;
    font-size: 1.2rem;
    color: #000;
}

.contact-menu ul{
    display: flex;
    justify-content: space-between;
}
.contact-menu ul li a{
    margin: 0 10px;
    padding: 5px;
}
.contact-menu ul li a:last-child{
    margin-right: 0;
    padding-right: 0;
}
.contact-menu ul li a i{
     font-size: 25px;
     color: #385898;
}
/* Hero Part start */
.hero{
    background: url('../img/banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.hero-overlay{
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
}
.items{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 0 2rem;
    background-color: #008cc9;
    display: flex;
    justify-content: space-between;
}
.hero .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.icon{
    padding-right: 10px;
    font-size: 5rem;
    color: #fff;
}
.content h4{
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
}
.content p{
    font-family: 'Mulish', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    opacity: 0.8;
}
/* Hero Part End */
/* Marquee part Start */
.marquee{
    padding: 10px;
    background-color: #e1e1e1;
}
.marquee marquee h4{
    font-size: 20px;
    color: #000;
}
/* Marquee part End */
/* Course Part Start */
.course{
    padding: 1.4rem 0;
    background-color: rgba(109, 115, 130, .1);
    text-align: center;
}
.course .title{
    font-size: 2rem;
    padding: 1.5rem 0 2rem;
}
.courses{
    display: flex;
    justify-content: space-between;
}
.course-item{
    border: 1px solid #000;
    overflow: hidden;
    width: 270px;
    box-sizing: border-box;
    cursor: pointer;
}
.course-item .course-img{
    width: 270px;
    height: 300px;
    background-color: #e1e1e1;
}
.course-item h4{
    font-size: 1.2rem;
    padding: 0.8rem 0.5rem;
}
.course-details{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.all-course{
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #fff;
    display: inline-block;
    padding: 20px 35px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    background-color: #008cc9;
}
/* Course Part End */
/* Review Part Start */
.review{
    display: flex;
    justify-content: space-between;
}
.review .item {
    margin-right: 15px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.review .item .reviewer{
    display: flex;
    align-items: center;
}
.reviewer .icon img{
    height: 50px;
    margin-right: 20px;
}
/* Review Part End */
/* Contact Form Start */
.contact-form{
    margin: 20px 0;
    overflow: auto;
    text-align: center;
}
.form-left{
    height: 250px;
    width: 50%;
    float: left;
    text-align: left;
}
.form-right{
    height: 250px;
    width: 50%;
    float: right;
}
label{
    display: block;
    padding: 8px 0;
    font-size: 18px;
}
input{
    padding: 8px;
    font-size: 16px;
    color: #000;
    width: 95%;
}
textarea{
    padding: 8px;
    font-size: 16px;
    color: #000;
    width: 95%;
    height: 175px;
    margin-top: 35px;
}
button{
    padding: 10px 20px;
    cursor: pointer;
}
/* Contact Form End */

/* Footer Part Start  */
.footer-part{
    clear: both;
    background-color: #000;
    padding: 1rem 0;
    color: #fff;
}
/* Footer Part End */